<h1>Listing users</h1>

<table width="100%" border="1">
  <tr>
    <th>Name</th>
    <th>Project</th>
  </tr>

  <% @users.each do |user| %>
    <tr>
      <td><%= user.name %></td>
      <td><%= user.project ? user.project.name : "N/A" %></td>
    </tr>
  <% end %>
</table>