<h1>Available Projects</h1>

<table width="100%" border="1">
  <tr>
    <th>Name</th>
    <th># of members</th>
  </tr>

  <% @projects.each do |project| %>
    <% unless project.users.count > 6 %>
      <tr>
        <td><%= link_to project.name, project %></td>
        <td><%= project.users.count %></td>
      </tr>
    <% end %>
  <% end %>
</table>