<h1>Listing Projects</h1>

<table width="100%" border="1">
  <tr>
    <th>name</th>
    <th>taken</th>
  </tr>

  <% @projects.each do |project| %>
    <tr>
      <td><%= project.name %></td>
      <td><%= project.taken %></td>
    </tr>
  <% end %>
</table>