<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>System Analysis Project Registration</title>
</head>

<body>
<h2>System Analysis Project</h2>

  <%= button_to "View Teams", users_path, :method => "get" %> 
  <%= button_to "Register as a Team", users_path, :method => "get" %> 
  </body>

</html>

<%= link_to 'My Blog', controller: 'users' %>



