<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>System Analysis Project Registration</title>
</head>

<body>
Content of the document......
</body>

</html>

<%= link_to 'My Blog', controller: 'users' %>